<template>
<v-container>
  <v-container>

<v-row class="text-center">

      <v-col class="mb-4 justify-center" align="center">
        <v-img
          src="../assets/racer.png"
          alt="GitLab Racer"
          width="17%"
          align-self-center 
        />
      </v-col>
    </v-row>

  

    <v-row class="text-center">

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Tanuki Racing Leaderboard
        </h1>
      </v-col>
    </v-row>
  </v-container>
  <v-main>
      <v-container v-for="entry in entries" :key="entry.id">
        <v-row >
          <v-col class="mb-4 justify-center" align="center" >
              {{entry.id}}
        </v-col>
        <v-col class="mb-4 justify-center" align="center" >
              {{entry.Name}}
        </v-col>
        <v-col class="mb-4 justify-center" align="center" >
              {{entry.time}}
        </v-col>
        </v-row>
        <v-divider></v-divider>
      </v-container>
    </v-main>
    </v-container>
</template>

<script>

  export default {
    name: 'Main',

    data: () => ({
      entries: [
        {
          Name: 'Shoe', id: '1', time: '1:35'
        },
        {
          Name: 'Thorn', id: '2', time: '1:36'
        },
        {
          Name: 'BrightCow', id: '3', time: '1:39'
        },
        {
          Name: 'FireFlower', id: '4', time: '1:41'
        },
        {
          Name: 'RTZ', id: '5', time: '1:47'
        },
        {
          Name: 'Krit', id: '6', time: '1:50'
        },
        {
          Name: 'DuBu', id: '7', time: '2:11'
        },
        {
          Name: 'DinnerZoltar', id: '8', time: '2:12'
        },
        {
          Name: 'DM', id: '9', time: '2:22'
        },
        {
          Name: 'Zoo', id: '10', time: '2:30'
        },
        {
          Name: 'Nova', id: '11', time: '2:57'
        },
        {
          Name: 'Light', id: '12', time: '3:07'
        },
        {
          Name: 'Beam', id: '13', time: '3:08'
        },
        {
          Name: 'Solo', id: '14', time: '3:22'
        },
        {
          Name: 'Ghost', id: '15', time: '3:50'
        }
      ],
    }),
  }
</script>
